@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);

$content: 10rem;

%wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

%transition {
  transition: 0.3s ease;
}

$laptop-l: 1180px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 524px;

@mixin laptop-l {
  @media screen and (max-width: $laptop-l) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
